<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="HubcarDB" connectionString="Data Source=localhost;Initial Catalog=piloto_hubcar;User ID=sa;Password=123456" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  
  <configSections>
    
  </configSections>
</configuration>
