a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.logo {
  height: 50px;
  width: auto;
}

.icon svg{
  color: #cc0000;
  height: 30px;
  width: auto;
  padding-left: 15px;
}
